@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --mainColor: #343a40 ;
    --color1: #007bff ;
    --color2: rgb(0,255,255) ;
    --color3: #202429;
}
body {
    font-family: "Poppins" , sans-serif;
    background: var(--color3);
}
.sidebar-wrapper {
    max-width: 300px;
    min-width: 300px;
    height: 100vh;
    background-color: var(--mainColor);
    box-shadow:  0 0 8px #000;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.5s ease;
}
.sidebar-wrapper .sidebar {
    width: 100%;
}
.sidebar-wrapper .sidebar .avatar-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
    background: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.sidebar-wrapper .sidebar .avatar-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: -11;
}
.sidebar-wrapper .sidebar .avatar-wrapper .avatar {
    width: 35%;
    clip-path: circle();
    box-shadow: 0 0 8px #000;
}
.sidebar-wrapper .sidebar nav {
    width: 100%;
}
.sidebar-wrapper .sidebar nav .menu {
    list-style: none;
}
.sidebar-wrapper .sidebar nav .menu li {
    border-bottom: 1px solid #494949;
}
.sidebar-wrapper .sidebar nav .menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 20px;
    transition: 0.5s ease;
}
.sidebar-wrapper .sidebar nav .menu li a:hover {
    background: -webkit-linear-gradient(45deg,var(--color1),var(--color2));
}
.sidebar-wrapper .sidebar nav .menu li a i {
    margin-right: 15px;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 10px;
}
.open {
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 10px;
    color: #fff;
    font-size: 1.5rem;
}
#check {
    display: none;
}
#check:checked ~ .sidebar-wrapper {
    left: 0;
}







